<nz-card nzTitle="用户统计表" [nzExtra]="extraTemplate">
  <div style="margin-bottom: 16px;">
    <button nz-button nzType="primary"><i nz-icon type="plus"></i>新增</button>
  </div>

  <div style="margin-bottom: 16px;">
    <nz-alert nzType="info" nzMessage="匹配到 100 条数据" nzShowIcon></nz-alert>
  </div>

  <nz-table #basicTable [nzData]="tableData" [nzLoading]="loading">
    <thead>
      <tr>
        <th nzShowSort nzSortKey="id">ID</th>
        <th>姓名</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>身份证号</th>
        <th>地址</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>
          <nz-tag *ngIf="data.sex === 1" nzColor="magenta">女</nz-tag>
          <nz-tag *ngIf="data.sex === 2" nzColor="blue">男</nz-tag>
        </td>
        <td>{{ data.email }}</td>
        <td>{{ data.idCardNo }}</td>
        <td>{{ data.address }}</td>
        <td>
          <nz-switch [ngModel]="data.enable" nzCheckedChildren="启用" nzUnCheckedChildren="停用"></nz-switch>
        </td>
        <td>
          <a>查看</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <span style="cursor: pointer;" (click)="loadTableData()">
    <i nz-icon nzType="sync" nzTheme="outline"></i>
    <span style="margin-left: 5px;">刷新数据</span>
  </span>
</ng-template>