<div nz-row>
  <div nz-col [nzSpan]="12">
    <nz-card nzTitle="标签选择器">
      <form nz-form>
        <nz-form-item>
          <nz-form-label [nzSpan]="4">用户名</nz-form-label>
          <nz-form-control [nzSpan]="20" nzErrorTip="必填项">
            <input nz-input [(ngModel)]="formData.name" name="name" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4">用户标签</nz-form-label>
          <nz-form-control [nzSpan]="20" nzErrorTip="必填项">
            <tag-picker [disabled]="false" [(ngModel)]="formData.tags" name="tags"></tag-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzCol="20" nzOffset="4">
            <button nz-button (click)="reset()">重置</button>
            <button nz-button nzType="primary" (click)="submit()">提交</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="code" *ngIf="code">
        <pre><code>{{ code }}</code></pre>
      </div>
    </nz-card>
  </div>
</div>
