<nz-page-header nzTitle="用户管理">
  <nz-page-header-extra>
    <user-update-btn (refresh)="search()"></user-update-btn>
  </nz-page-header-extra>
</nz-page-header>

<nz-card>
  <form nz-form [nzLayout]="'inline'">
    <nz-form-item>
      <nz-form-label>姓名</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <input
            [(ngModel)]="tableQuery.username"
            name="username"
            nz-input
            placeholder="请输入关键字"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          [nzLoading]="loading"
          nz-button
          nzType="primary"
          (click)="search()"
        >
          查询
        </button>
        <button [nzLoading]="loading" nz-button (click)="reset()">重置</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-card class="no-padding">
  <nz-table
    nzShowSizeChanger
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    [nzData]="tableData.items"
    [nzTotal]="tableData.total"
    [nzPageIndex]="tableData.pageIndex"
    [nzPageSize]="tableData.pageSize"
    (nzQueryParams)="onQueryChange($event)"
  >
    <thead>
      <tr>
        <th>用户名</th>
        <th>真实姓名</th>
        <th>邮箱</th>
        <th nzWidth="200px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of tableData.items">
        <td>{{ user.username }}</td>
        <td>{{ user.realname }}</td>
        <td>{{ user.email }}</td>
        <td>
          <user-update-btn
            [id]="user.id"
            (refresh)="search()"
          ></user-update-btn>
          <nz-divider nzType="vertical"></nz-divider>
          <user-delete-btn
            [id]="user.id"
            (refresh)="search()"
          ></user-delete-btn>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
