<nz-card nzTitle="按钮类型">
    <p>按钮有四种类型：主按钮、次按钮、虚线按钮、危险按钮。主按钮在同一个操作区域最多出现一次。</p>
    <div>
        <button nz-button nzType="primary">Primary</button>
        <button nz-button nzType="default">Default</button>
        <button nz-button nzType="dashed">Dashed</button>
        <button nz-button nzType="danger">Danger</button>
    </div>
</nz-card>

<nz-card nzTitle="图标按钮">
    <p>当需要在 nz-button 内嵌入图标时，可以直接在 nz-button 内嵌入对应的 icon。</p>
    <div>
        <button nz-button nzType="primary" nzShape="circle">
            <i nz-icon type="search"></i>
        </button>
        <button nz-button nzType="primary">
            <i nz-icon type="search"></i>Search</button>
        <button nz-button nzType="default" nzShape="circle">
            <i nz-icon type="search"></i>
        </button>
        <button nz-button nzType="default">
            <i nz-icon type="search"></i>Search</button>
        <br/>
        <button nz-button nzType="default" nzShape="circle">
            <i nz-icon type="search"></i>
        </button>
        <button nz-button nzType="default">
            <i nz-icon type="search"></i>Search</button>
        <button nz-button nzType="dashed" nzShape="circle">
            <i nz-icon type="search"></i>
        </button>
        <button nz-button nzType="dashed">
            <i nz-icon type="search"></i>Search</button>
    </div>
</nz-card>

<nz-card nzTitle="按钮尺寸">
    <p>按钮有大、中、小三种尺寸。</p>
    <p>通过设置 nzSize 为 largesmall 分别把按钮设为大、小尺寸。若不设置 nzSize，则尺寸为中。</p>
    <div>
        <nz-radio-group [(ngModel)]="size">
            <label nz-radio-button nzValue="large">Large</label>
            <label nz-radio-button nzValue="default">Default</label>
            <label nz-radio-button nzValue="small">Small</label>
        </nz-radio-group>
        <br/>
        <br/>
        <button nz-button [nzSize]="size" nzType="primary">Primary</button>
        <button nz-button [nzSize]="size" nzType="default">Default</button>
        <button nz-button [nzSize]="size" nzType="dashed">Dashed</button>
        <button nz-button [nzSize]="size" nzType="danger">Danger</button>
        <br/>
        <button nz-button nzType="primary" [nzSize]="size" nzShape="circle">
            <i nz-icon type="download"></i>
        </button>
        <button nz-button nzType="primary" [nzSize]="size" nzShape="round">
            <i nz-icon type="download"></i>Download</button>
        <button nz-button nzType="primary" [nzSize]="size">
            <i nz-icon type="download"></i>Download</button>
        <br/>
        <nz-button-group [nzSize]="size">
            <button nz-button nzType="primary">
                <i nz-icon type="left"></i>Backward</button>
            <button nz-button nzType="primary">Forward<i nz-icon type="right"></i>
            </button>
        </nz-button-group>
    </div>
</nz-card>

<nz-card nzTitle="不可用状态">
    <p>添加 disabled 属性即可让按钮处于不可用状态，同时按钮样式也会改变。</p>
    <div>
        <button nz-button nzType="primary">Primary</button>
        <button nz-button nzType="primary" disabled>Primary(disabled)</button>
        <br/>
        <button nz-button nzType="default">Default</button>
        <button nz-button nzType="default" disabled>Default(disabled)</button>
        <br/>
        <button nz-button nzType="dashed">Dashed</button>
        <button nz-button nzType="dashed" disabled>Dashed(disabled)</button>
        <div style="padding: 8px 8px 0px; background: rgb(190, 200, 200);">
            <button nz-button nzGhost>Ghost</button>
            <button nz-button nzGhost disabled>Ghost(disabled)</button>
        </div>
    </div>
</nz-card>

<nz-card nzTitle="多个按钮组合">
    <p>按钮组合使用时，推荐使用1个主操作 + n 个次操作，3个以上操作时把更多操作放到 nz-dropdown 中组合使用。</p>
    <div>
        <button nz-button nzType="primary">primary</button>
        <button nz-button nzType="default">secondary</button>
        <nz-dropdown>
            <button nz-button nz-dropdown>Actions<i nz-icon type="down"></i>
            </button>
            <ul nz-menu>
                <li nz-menu-item>
                    <a>1st item</a>
                </li>
                <li nz-menu-item>
                    <a>2nd item</a>
                </li>
                <li nz-menu-item>
                    <a>3rd item</a>
                </li>
            </ul>
        </nz-dropdown>
    </div>
</nz-card>