<div class="app-aside">
  <div class="app-aside-list">
    <ul nz-menu [nzInlineCollapsed]="collapsed" nzTheme="dark" nzMode="inline">
      <ng-container *ngFor="let menu of menus">
        <ng-container *ngIf="menu.children; else withoutChild">
          <li nz-submenu>
            <span title>
              <i nz-icon [type]="menu.icon"></i>
              <span>{{ menu.title }}</span>
            </span>

            <ul>
              <ng-container *ngFor="let child of menu.children">
                <ng-container *ngIf="child.children; else withoutSubChild">
                  <li nz-submenu>
                    <span title>{{ child.title }}</span>
                    <ul *ngFor="let subchild of child.children">
                      <li nz-menu-item>
                        <a [routerLink]="subchild.link">
                          <span title>{{ subchild.title }}</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ng-container>

                <ng-template #withoutSubChild>
                  <li nz-menu-item>
                    <a [routerLink]="child.link">
                      <span title>{{ child.title }}</span>
                    </a>
                  </li>
                </ng-template>
              </ng-container>
            </ul>
          </li>
        </ng-container>

        <ng-template #withoutChild>
          <li nz-menu-item>
            <a [routerLink]="menu.link">
              <span title>
                <i nz-icon [type]="menu.icon"></i>
                <span>{{ menu.title }}</span>
              </span>
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </div>

  <div class="app-aside-collapsed">
    <div class="collapsed-icon" (click)="toggle()">
      <i
        nz-icon
        [nzType]="collapsed ? 'arrow-right' : 'arrow-left'"
        nzTheme="outline"
      ></i>
    </div>
  </div>
</div>
