<div class="app-header">
  <div class="ng-layout-container">
    <div class="nav tools"></div>
    <div class="user">
      <div nz-dropdown [nzDropdownMenu]="menu" class="user-name">
        <nz-avatar
          nzShape="square"
          nzSrc="assets/images/author.jpeg"
        ></nz-avatar>
        <span>{{ userProfile?.realname }}</span>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>个人中心</li>
          <li nz-menu-item>修改密码</li>
          <li nz-menu-item>退出登录</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
