<div class="app-header">
  <div class="ng-layout-container">
    <div class="nav tools"></div>
    <div class="user">
      <div nz-dropdown [nzDropdownMenu]="menu" class="user-name">
        <nz-avatar nzShape="square" nzSrc="assets/images/author.jpeg"></nz-avatar>
        <span>rmlzy</span>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a>个人中心</a>
          </li>
          <li nz-menu-item>
            <a>修改密码</a>
          </li>
          <li nz-menu-item>
            <a>退出登录</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
