<div class="app-header">
    <a class="brand" routerLink="/">
        <img height="30" src="/assets/images/logo.svg" alt="">
        <span>NG Admin</span>
    </a>

    <ul class="nav">
        <li class="nav-item">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a href="/setting">Settings</a>
        </li>
    </ul>

    <ul class="nav tools">
        <li class="nav-icon">
            <nz-badge [nzCount]="22">
                <i nz-icon nzType="bell" nzTheme="outline"></i>
            </nz-badge>
        </li>
        <li class="nav-icon">
            <i nz-icon nzType="message" nzTheme="outline"></i>
        </li>
        <li class="nav-icon">
            <i nz-icon nzType="mail" nzTheme="outline"></i>
        </li>
    </ul>

    <div class="user">
        <nz-dropdown [nzPlacement]="'bottomRight'">
            <div nz-dropdown class="user-name">
                <nz-avatar nzIcon="user"></nz-avatar>
                <span>Admin</span>
            </div>

            <ul nz-menu nzSelectable>
                <li nz-menu-item>
                    <a>1st menu item</a>
                </li>
                <li nz-menu-item>
                    <a>2nd menu item</a>
                </li>
                <li nz-menu-item>
                    <a>3rd menu item</a>
                </li>
            </ul>
        </nz-dropdown>
    </div>
</div>