<div class="error">
  <div class="error__header">
    <img height="128" src="../../../../assets/images/maintenance.svg" />
  </div>
  <div class="error__title">Temporarily down for maintenance</div>
  <div class="error__desc">
    Sorry for the inconvenience but we’re performing some maintenance at the moment. We’ll be back
    online shortly!
  </div>
  <div class="error__action">
    <button nz-button nzType="primary">
      <i nz-icon nzType="left" nzTheme="outline"></i>Take me home
    </button>
  </div>
</div>
