<nz-page-header nzTitle="高级表单">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/">首页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/form">表单页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>高级表单</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>高级表单常见于一次性输入和提交大批量数据的场景。</nz-page-header-content>
</nz-page-header>

<form nz-form [formGroup]="advancedForm" nzLayout="vertical" (ngSubmit)="submit()">
  <nz-card nzTitle="仓库管理" class="mb15">
    <div nz-row [nzGutter]="15">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>仓库名</nz-form-label>
          <nz-form-control nzErrorTip="请输入仓库名称">
            <input nz-input formControlName="repoName" placeholder="请输入仓库名称" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>仓库域名</nz-form-label>
          <nz-form-control nzErrorTip="请输入仓库域名">
            <input nz-input formControlName="repoUrl" placeholder="请输入仓库域名" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>仓库管理员</nz-form-label>
          <nz-form-control nzErrorTip="请选择管理员">
            <input nz-input formControlName="repoOwner" placeholder="请选择管理员" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="15">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>审批人</nz-form-label>
          <nz-form-control nzErrorTip="请选择审批人">
            <input nz-input formControlName="repoApprover" placeholder="请选择审批人" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>生效日期</nz-form-label>
          <nz-form-control nzErrorTip="请选择生效日期">
            <nz-range-picker formControlName="repoDateRange" class="w100"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>仓库类型</nz-form-label>
          <nz-form-control nzErrorTip="请选择仓库类型">
            <input nz-input formControlName="repoType" placeholder="请选择仓库类型" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-card>

  <nz-card nzTitle="任务管理" class="mb15">
    <div nz-row [nzGutter]="15">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>任务名</nz-form-label>
          <nz-form-control nzErrorTip="请输入任务名">
            <input nz-input formControlName="jobName" placeholder="请输入任务名" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>任务描述</nz-form-label>
          <nz-form-control nzErrorTip="请输入任务描述">
            <input nz-input formControlName="jobDesc" placeholder="请输入任务描述" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>执行人</nz-form-label>
          <nz-form-control nzErrorTip="请选择执行人">
            <input nz-input formControlName="jobOwner" placeholder="请选择执行人" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="15">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>责任人</nz-form-label>
          <nz-form-control nzErrorTip="请选择责任人">
            <input nz-input formControlName="jobManager" placeholder="请选择责任人" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>提醒时间</nz-form-label>
          <nz-form-control nzErrorTip="请选择提醒时间">
            <nz-date-picker
              formControlName="remindDate"
              class="w100"
              nzPlaceHolder="请选择提醒时间"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>任务类型</nz-form-label>
          <nz-form-control nzErrorTip="请选择任务类型">
            <input nz-input formControlName="jobType" placeholder="请选择任务类型" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-card>

  <nz-card nzTitle="成员管理"></nz-card>

  <nz-footer-bar>
    <button nz-button nzType="primary" type="submit">提交</button>
  </nz-footer-bar>
</form>
