<nz-page-header nzTitle="Basic Form">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/form">Form</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Advanced Form</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-content>高级表单常见于一次性输入和提交大批量数据的场景。</nz-page-header-content>
</nz-page-header>

<nz-card nzTitle="仓库管理" class="mb15"></nz-card>

<nz-card nzTitle="任务管理" class="mb15"></nz-card>

<nz-card nzTitle="成员管理"></nz-card>

<nz-footer-bar>
  <button nz-button nzType="primary">提交</button>
</nz-footer-bar>
