<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="基本使用">
      <p>最简单的用法，适用于简短的警告提示。</p>
      <nz-alert nzType="success" nzMessage="Success Text"></nz-alert>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="四种类型">
      <p>共有四种样式 success、info、warning、error。</p>
      <div>
        <nz-alert nzType="success" nzMessage="Success Text"></nz-alert>
        <nz-alert nzType="info" nzMessage="Info Text"></nz-alert>
        <nz-alert nzType="warning" nzMessage="Warning Text"></nz-alert>
        <nz-alert nzType="error" nzMessage="Error Text"></nz-alert>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="可关闭的警告提示">
      <p>显示关闭按钮，点击可关闭警告提示。</p>
      <div>
        <nz-alert
          nzType="warning"
          nzCloseable
          nzMessage="Warning Text Warning Text Warning Text Warning Text Warning Text Warning Text Warning Text"
          (nzOnClose)="afterClose()"
        >
        </nz-alert>
        <nz-alert
          nzType="error"
          nzCloseable
          nzMessage="Error Text"
          nzDescription="Error Description Error Description Error Description Error Description Error Description Error Description"
          (nzOnClose)="afterClose()"
        >
        </nz-alert>
      </div>
    </nz-card>
  </div>
</div>

<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="含有辅助性文字介绍">
      <p>含有辅助性文字介绍的警告提示。</p>
      <div>
        <nz-alert
          nzType="success"
          nzMessage="Success Text"
          nzDescription="Success Description Success Description Success Description"
        >
        </nz-alert>
        <nz-alert
          nzType="info"
          nzMessage="Info Text"
          nzDescription="Info Description Info Description Info Description Info Description"
        >
        </nz-alert>
        <nz-alert
          nzType="warning"
          nzMessage="Warning Text"
          nzDescription="Warning Description Warning Description Warning Description Warning Description"
        >
        </nz-alert>
        <nz-alert
          nzType="error"
          nzMessage="Error Text"
          nzDescription="Error Description Error Description Error Description Error Description"
        >
        </nz-alert>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="顶部公告">
      <p>页面顶部通告形式，默认有图标且nzType 为 'warning'。</p>
      <div>
        <nz-alert nzBanner nzMessage="Warning text"></nz-alert>
        <nz-alert
          nzBanner
          nzMessage="Very long warning text warning text text text text text text text"
          nzCloseable
        ></nz-alert>
        <nz-alert
          nzBanner
          nzMessage="Warning text without icon"
          [nzShowIcon]="false"
        ></nz-alert>
        <nz-alert nzBanner nzType="error" nzMessage="Error text"></nz-alert>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="自定义关闭">
      <p>可以自定义关闭，自定义的内容会替换原先的关闭按钮。</p>
      <div>
        <nz-alert
          nzType="info"
          nzMessage="Info Text"
          nzCloseText="Close Now"
        ></nz-alert>
      </div>
    </nz-card>
  </div>
</div>
