<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="基本使用">
      <p>最简单的用法。</p>
      <div>
        <nz-progress [nzPercent]="30"></nz-progress>
        <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
        <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
        <nz-progress [nzPercent]="100"></nz-progress>
        <nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="进度圈">
      <p>圈形的进度。</p>
      <div>
        <nz-progress [nzPercent]="75" nzType="circle"></nz-progress>
        <nz-progress
          [nzPercent]="70"
          nzType="circle"
          nzStatus="exception"
        ></nz-progress>
        <nz-progress [nzPercent]="100" nzType="circle"></nz-progress>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="小型进度圈">
      <p>小一号的圈形进度。</p>
      <div>
        <nz-progress
          [nzPercent]="75"
          nzType="circle"
          [nzWidth]="80"
        ></nz-progress>
        <nz-progress
          [nzPercent]="70"
          nzType="circle"
          [nzWidth]="80"
          nzStatus="exception"
        ></nz-progress>
        <nz-progress
          [nzPercent]="100"
          nzType="circle"
          [nzWidth]="80"
        ></nz-progress>
      </div>
    </nz-card>
  </div>
</div>

<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="仪表盘">
      <p>通过设置 nzType="dashboard"，可以很方便地实现仪表盘样式的进度条。</p>
      <div>
        <nz-progress [nzPercent]="75" nzType="dashboard"></nz-progress>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="自定义文字格式">
      <p>nzFormat 属性指定格式。</p>
      <div>
        <nz-progress
          [nzPercent]="75"
          nzType="circle"
          [nzFormat]="formatOne"
        ></nz-progress>
        <nz-progress
          [nzPercent]="100"
          nzType="circle"
          [nzFormat]="formatTwo"
        ></nz-progress>
      </div>
    </nz-card>
  </div>
</div>
