<div class="login">
  <div class="login-form">
    <form nz-form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="login-logo">Angular Boilerplate</div>

      <nz-form-item>
        <nz-form-control nzErrorTip="请填写账号">
          <input
            nz-input
            placeholder="账号"
            nzSize="large"
            formControlName="username"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="请填写密码">
          <input
            nz-input
            placeholder="密码"
            nzSize="large"
            type="password"
            formControlName="password"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox>
            <span>记住我</span>
          </label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom: 8px">
        <nz-form-control>
          <button
            type="submit"
            nz-button
            nzBlock
            nzSize="large"
            nzType="primary"
            [nzLoading]="submitting"
          >
            登录
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
