<div nz-row class="login">
  <div nz-col nzSpan="14"></div>
  <div nz-col nzSpan="10">
    <div class="login-form">
      <form nz-form>
        <h2>Sign In</h2>

        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Username" nzSize="large"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Password" nzSize="large"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox>
              <span>Remember me</span>
            </label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control>
            <button nz-button nzBlock nzSize="large" nzType="primary" (click)="submit()">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>