<nz-card nzTitle="Headings">
  <p>
    Use HTML headings to organize content on your website and make the structure clear and
    user-friendly.
  </p>
  <div example>
    <h1>H1 Heading</h1>
    <h2>H2 Heading</h2>
    <h3>H3 Heading</h3>
    <h4>H4 Heading</h4>
    <h5>H5 Heading</h5>
    <h6>H6 Heading</h6>
    <code name="code">{{ code1 }}</code>
  </div>
</nz-card>

<nz-card nzTitle="Paragraphs">
  <p>Organize longer pieces of text into paragraphs using the p tag.</p>
  <div example>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
    <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <code name="code">{{ code2 }}</code>
  </div>
</nz-card>

<nz-card nzTitle="Semantic text elements">
  <p>
    Use a variety of semantic text elements, depending of how you want to display particular
    fragments of content.
  </p>
  <div example>
    <abbr title="Internationalization">I18N</abbr><br />
    <strong>Bold</strong><br />
    <cite>Citation</cite><br />
    <code>Hello World!</code><br />
    <del>Deleted</del><br />
    <em>Emphasis</em><br />
    <i>Italic</i><br />
    <ins>Inserted</ins><br />
    <kbd>Ctrl + S</kbd><br />
    <mark>Highlighted</mark><br />
    <s>Strikethrough</s><br />
    <samp>Sample</samp><br />
    Text <sub>Subscripted</sub><br />
    Text <sup>Superscripted</sup><br />
    <time>20:00</time><br />
    <u>Underline</u><br />
    <var>x</var> = <var>y</var> + 2<br />
    <code name="code">{{ code3 }}</code>
  </div>
</nz-card>

<nz-card nzTitle="Horizontal rules with label">
  <p>You can also add a label to a horizontal rule and align it as you see fit.</p>
  <div example>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
    <nz-divider nzPlain nzText="Rule text"></nz-divider>

    <p>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <nz-divider nzPlain nzText="Rule text" nzOrientation="left"></nz-divider>

    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
    <nz-divider nzPlain nzText="Rule text" nzOrientation="right"></nz-divider>

    <p>
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <code name="code">{{ code4 }}</code>
  </div>
</nz-card>

<nz-card nzTitle="Optimized for different alphabets">
  <div example>
    <h5>Chinese</h5>
    <p>汉字</p>
    <h5>Japanese</h5>
    <p>日本語の表記体系</p>
    <h5>Korean</h5>
    <p>한글</p>
    <h5>Cyrillic</h5>
    <p>Кириллица</p>
    <h5>Greek</h5>
    <p>Eλληνική</p>
    <h5>Georgian</h5>
    <p>ქართული დამწერლობა</p>
    <h5>Armenian</h5>
    <p>Հայերենի այբուբեն</p>
    <h5>Arabic</h5>
    <p>الحروف العربية</p>
    <h5>Hebrew</h5>
    <p>אלפבית עברי</p>
    <h5>Thai</h5>
    <p>อักษรไทย</p>
    <code name="code">{{ code5 }}</code>
  </div>
</nz-card>
