<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="基本使用">
      <p>最简单的用法。</p>
      <div>
        <button nz-button [nzType]="'primary'" (click)="createMessage()">
          Display normal message
        </button>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="三种类型">
      <p>包括成功、失败、警告。</p>
      <div>
        <button nz-button (click)="createMessage('success')">Success</button>
        <button nz-button (click)="createMessage('error')">Error</button>
        <button nz-button (click)="createMessage('warning')">Warning</button>
      </div>
    </nz-card>
  </div>
</div>
