<div
  class="ng-layout"
  [class.aside-collapsed]="collapsed"
  [class.is-horizontal]="config.layout === 'horizontal'"
  [class.is-vertical]="config.layout === 'vertical'"
  [class.is-light-aside]="config.asideTheme === 'light'"
  [class.is-dark-aside]="config.asideTheme === 'dark'"
  [class.is-fixed-header]="config.fixedHeader"
  [class.is-fluid]="config.fluid"
>
  <app-header></app-header>
  <app-aside [collapsed]="collapsed" (toggleCollapsed)="onToggleCollapsed($event)"></app-aside>
  <app-body></app-body>
</div>
