<nz-card nzTitle="基础栅格">
  <p>从堆叠到水平排列。</p>
  <p>使用单一的一组 nz-row 和 nz-col 栅格组件，就可以创建一个基本的栅格系统，所有列（nz-col）必须放在 nz-row 内。</p>
  <div>
    <div nz-row>
      <div nz-col nzSpan="12">col-12</div>
      <div nz-col nzSpan="12">col-12</div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="8">col-8</div>
      <div nz-col nzSpan="8">col-8</div>
      <div nz-col nzSpan="8">col-8</div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">col-6</div>
      <div nz-col nzSpan="6">col-6</div>
      <div nz-col nzSpan="6">col-6</div>
      <div nz-col nzSpan="6">col-6</div>
    </div>
  </div>
</nz-card>

<nz-card nzTitle="响应式布局">
  <p>参照 Bootstrap 的 响应式设计，预设五个响应尺寸：xssmmdlgxlxxl。</p>
  <div>
    <div nz-row>
      <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
        Col
      </div>
      <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">
        Col
      </div>
      <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
        Col
      </div>
    </div>
  </div>
</nz-card>