<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="基本使用">
      <p>最简单的用法。</p>
      <div>
        <button nz-button nzType="primary" (click)="showModal1()">
          <span>Show Modal</span>
        </button>

        <nz-modal
          [(nzVisible)]="visible1"
          nzTitle="The first Modal"
          (nzOnCancel)="handleCancel1()"
          (nzOnOk)="handleOk1()"
        >
          <p>Content one</p>
          <p>Content two</p>
          <p>Content three</p>
        </nz-modal>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="信息提示">
      <p>各种类型的信息提示，只提供一个按钮用于关闭。</p>
      <div>
        <button nz-button (click)="info()">Info</button>
        <button nz-button (click)="success()">Success</button>
        <button nz-button (click)="error()">Error</button>
        <button nz-button (click)="warning()">Warning</button>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="自定义页脚">
      <p>
        更复杂的例子，自定义了页脚的按钮，点击提交后进入 loading
        状态，完成后关闭。
      </p>
      <p>不需要默认确定取消按钮时，你可以把 nzFooter 设为 null。</p>
      <div>
        <button nz-button nzType="primary" (click)="showModal2()">
          <span>Show Modal</span>
        </button>
        <nz-modal
          [(nzVisible)]="visible2"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel2()"
        >
          <ng-template #modalTitle>
            Custom Modal Title
          </ng-template>

          <ng-template #modalContent>
            <p>Modal Content</p>
            <p>Modal Content</p>
            <p>Modal Content</p>
            <p>Modal Content</p>
            <p>Modal Content</p>
          </ng-template>

          <ng-template #modalFooter>
            <span>Modal Footer: </span>
            <button nz-button nzType="default" (click)="handleCancel2()">
              Custom Callback
            </button>
            <button
              nz-button
              nzType="primary"
              (click)="handleOk2()"
              [nzLoading]="isConfirmLoading"
            >
              Custom Submit
            </button>
          </ng-template>
        </nz-modal>
      </div>
    </nz-card>
  </div>
</div>

<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="服务方式创建">
      <p>
        Modal的service用法，示例中演示了用户自定义模板、自定义component、以及注入模态框实例的方法。
      </p>
      <div>
        <button nz-button nzType="primary" (click)="createModal()">
          <span>Show Modal</span>
        </button>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="国际化">
      <p>设置 nzOkText 与 nzCancelText 以自定义按钮文字。</p>
      <div>
        <button nz-button nzType="info" (click)="showConfirm()">Confirm</button>
      </div>
    </nz-card>
  </div>
</div>
