// 自定义滚动条样式
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #D8D8D8
}

::-webkit-scrollbar-thumb {
    background-color: #969696;
    outline: #333 solid 1px
}