@aside-width: 240px;
@aside-mini-width: 48px;

.ng-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f4f6fa;
  padding-left: @aside-width;

  &-container {
    width: 1288px;
    margin: 0 auto;
  }

  .app-header,
  .nz-footer-bar {
    width: calc(100% - @aside-width);
  }
}

// 垂直布局
.is-vertical {
  .app-aside {
    border-bottom: 1px solid #e8e8e8;
    overflow-y: hidden;
  }
}

// 横向布局
.is-horizontal {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .app-aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: @aside-width;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #e8e8e8;
    z-index: 200;

    & > .ng-layout-container {
      width: 100%;
    }
  }
}

// 侧栏折叠
.is-collapsed {
  padding-left: @aside-mini-width;

  .app-aside {
    width: @aside-mini-width;
  }

  .app-header,
  .nz-footer-bar {
    width: calc(100% - @aside-mini-width);
  }
}

.is-fluid {
  .ng-layout-container {
    width: 100% !important;
  }
}

.is-fixed-header {
  padding-top: 50px;

  .app-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
  }
}

.is-dark-aside {
  .app-aside {
    background: #232e3c;
  }
}

.is-light-aside {
  .app-aside {
    background: #fff;
  }
}
