<div nz-row nzGutter="15">
  <div nz-col nzSpan="6">
    <nz-card class="stat">
      <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Active Users'"></nz-statistic>
      <div class="stat--progress">
        <nz-progress [nzPercent]="30"></nz-progress>
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card class="stat">
      <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Active Users'"></nz-statistic>
      <div class="stat--chart" echarts [options]="chart1Options" theme="roma"></div>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card class="stat">
      <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Active Users'"></nz-statistic>
      <div class="stat--progress">
        <nz-progress [nzPercent]="30"></nz-progress>
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card class="stat">
      <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Active Users'"></nz-statistic>
      <div class="stat--progress">
        <nz-progress [nzPercent]="30"></nz-progress>
      </div>
    </nz-card>
  </div>
</div>

<div nz-row nzGutter="15">
  <div nz-col nzSpan="12">
    <nz-card nzTitle="图表">
      <div echarts [options]="chart2Options" theme="roma"></div>
    </nz-card>

    <div nz-row nzGutter="15" style="margin-top: 15px; margin-bottom: 0">
      <div nz-col nzSpan="8">
        <nz-card>
          <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'"></nz-statistic>
        </nz-card>
      </div>
      <div nz-col nzSpan="8">
        <nz-card>
          <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'"></nz-statistic>
        </nz-card>
      </div>
      <div nz-col nzSpan="8">
        <nz-card>
          <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'"></nz-statistic>
        </nz-card>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <div class="table-demo">
      <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false">
        <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <nz-card>
      <div class="carousel-demo">
        <nz-carousel nzEffect="scrollx">
          <div nz-carousel-content *ngFor="let index of [0, 1, 2, 3]">
            <h3>{{ index }}</h3>
          </div>
        </nz-carousel>
      </div>
    </nz-card>
  </div>
</div>

<nz-card>
  <nz-descriptions nzTitle="User Info" nzBordered>
    <nz-descriptions-item nzTitle="Product">Cloud Database</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Billing Mode">Prepaid</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Order Time"> 2018-04-24 18:00:00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Usage Time" [nzSpan]="2">
      2018-04-24 18:00:00 To 2019-04-24 18:00:00
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
      <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Negotiated Amount">$80.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Discount">$20.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Official Receipts">$60.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Config Info">
      Data disk type: MongoDB
      <br />
      Database version: 3.4
      <br />
      Package: dds.mongo.mid
      <br />
      Storage space: 10 GB
      <br />
      Replication_factor:3
      <br />
      Region: East China 1<br />
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>
