<div nz-row nzGutter="15">
  <div nz-col nzSpan="6">
    <nz-card class="stat" nzTitle="SALES" [nzExtra]="extraTemplate">
      <nz-statistic nzValue="75%"></nz-statistic>
      <div class="stat--progress">
        <nz-progress
          [nzPercent]="30"
          nzStrokeLinecap="square"
          nzStrokeColor="#206bc4"
          nzStrokeWidth="4"
        ></nz-progress>
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card class="stat" nzTitle="REVENUE" [nzExtra]="extraTemplate">
      <nz-statistic nzValue="$4,300"></nz-statistic>
      <apx-chart
        [chart]="revenueChart.chart"
        [fill]="revenueChart.fill"
        [stroke]="revenueChart.stroke"
        [series]="revenueChart.series"
        [grid]="revenueChart.grid"
        [xaxis]="revenueChart.xaxis"
        [yaxis]="revenueChart.yaxis"
        [labels]="revenueChart.labels"
        [colors]="revenueChart.colors"
        [legend]="revenueChart.legend"
      ></apx-chart>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card class="stat" nzTitle="NEW CLIENTS" [nzExtra]="extraTemplate">
      <nz-statistic nzValue="6,782"></nz-statistic>
      <apx-chart
        [chart]="newClientsChart.chart"
        [fill]="newClientsChart.fill"
        [stroke]="newClientsChart.stroke"
        [series]="newClientsChart.series"
        [grid]="newClientsChart.grid"
        [xaxis]="newClientsChart.xaxis"
        [yaxis]="newClientsChart.yaxis"
        [labels]="newClientsChart.labels"
        [colors]="newClientsChart.colors"
        [legend]="newClientsChart.legend"
      ></apx-chart>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card class="stat" nzTitle="ACTIVE USERS">
      <nz-statistic nzValue="2,986"></nz-statistic>
      <apx-chart
        [chart]="activeUserChart.chart"
        [fill]="activeUserChart.fill"
        [stroke]="newClientsChart.stroke"
        [series]="activeUserChart.series"
        [grid]="activeUserChart.grid"
        [xaxis]="activeUserChart.xaxis"
        [yaxis]="activeUserChart.yaxis"
        [labels]="activeUserChart.labels"
        [colors]="activeUserChart.colors"
        [legend]="activeUserChart.legend"
      ></apx-chart>
    </nz-card>
  </div>
</div>

<div nz-row nzGutter="15">
  <div nz-col nzSpan="12">
    <nz-card nzTitle="Traffic summary" class="mb15">
      <apx-chart
        [chart]="mentionChart.chart"
        [fill]="mentionChart.fill"
        [series]="mentionChart.series"
        [grid]="mentionChart.grid"
        [xaxis]="mentionChart.xaxis"
        [yaxis]="mentionChart.yaxis"
        [labels]="mentionChart.labels"
        [colors]="mentionChart.colors"
        [legend]="mentionChart.legend"
        [plotOptions]="mentionChart.plotOptions"
        [dataLabels]="mentionChart.dataLabels"
      ></apx-chart>
    </nz-card>

    <div nz-row nzGutter="15">
      <div nz-col nzSpan="8">
        <nz-card>
          <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'"></nz-statistic>
        </nz-card>
      </div>
      <div nz-col nzSpan="8">
        <nz-card>
          <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'"></nz-statistic>
        </nz-card>
      </div>
      <div nz-col nzSpan="8">
        <nz-card>
          <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Feedback'"></nz-statistic>
        </nz-card>
      </div>
    </div>

    <nz-card>
      <div class="carousel-demo">
        <nz-carousel nzEffect="scrollx">
          <div nz-carousel-content *ngFor="let index of [0, 1, 2, 3]">
            <h3>{{ index }}</h3>
          </div>
        </nz-carousel>
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card nzTitle="Development activity" [nzBodyStyle]="{ padding: 0 }">
      <apx-chart
        [chart]="developChart.chart"
        [dataLabels]="mentionChart.dataLabels"
        [fill]="developChart.fill"
        [stroke]="newClientsChart.stroke"
        [series]="developChart.series"
        [grid]="developChart.grid"
        [xaxis]="developChart.xaxis"
        [yaxis]="developChart.yaxis"
        [labels]="developChart.labels"
        [colors]="developChart.colors"
        [legend]="developChart.legend"
      ></apx-chart>
      <nz-table #basicTable nzSize="small" [nzData]="demoTable" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>USER</th>
            <th>COMMIT</th>
            <th>DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <nz-avatar nzShape="square" nzSrc="assets/images/author.jpeg"></nz-avatar>
            </td>
            <td>{{ data.commit }}</td>
            <td>{{ data.date }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>

<nz-card>
  <nz-descriptions nzTitle="User Info" nzBordered>
    <nz-descriptions-item nzTitle="Product">Cloud Database</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Billing Mode">Prepaid</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Automatic Renewal">YES</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Order Time"> 2018-04-24 18:00:00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Usage Time" [nzSpan]="2">
      2018-04-24 18:00:00 To 2019-04-24 18:00:00
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
      <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Negotiated Amount">$80.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Discount">$20.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Official Receipts">$60.00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Config Info">
      Data disk type: MongoDB
      <br />
      Database version: 3.4
      <br />
      Package: dds.mongo.mid
      <br />
      Storage space: 10 GB
      <br />
      Replication_factor:3
      <br />
      Region: East China 1<br />
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<ng-template #extraTemplate>
  <a nz-dropdown [nzDropdownMenu]="menu">
    Last 7 days
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item>Last 7 days</li>
      <li nz-menu-item>Last 30 days</li>
      <li nz-menu-item>Last 3 months</li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
