<div nz-row nzGutter="15">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="基本使用">
      <p>一个简单的 loading 状态。</p>
      <div>
        <nz-spin nzSimple></nz-spin>
      </div>
    </nz-card>
  </div>

  <div nz-col nzSpan="8">
    <nz-card nzTitle="各种大小">
      <p>小的用于文本加载，默认用于卡片容器级加载，大的用于页面级加载。</p>
      <div>
        <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
        <nz-spin nzSimple></nz-spin>
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
    </nz-card>
  </div>
</div>
