<nz-card nzTitle="基本">
  <p>最简单的用法。</p>
  <div>
    <nz-steps>
      <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
      <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
      <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
    </nz-steps>
  </div>
</nz-card>

<nz-card nzTitle="迷你版">
  <p>迷你版的步骤条。</p>
  <div>
    <nz-steps>
      <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
      <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
      <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
    </nz-steps>
  </div>
</nz-card>